body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
  #chat {
    width: 100%;
    max-width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    background: white;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #messageForm {
    display: flex;
    width: 100%;
    max-width: 600px;
  }
  
  #messageInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .my-message {
    text-align: left;
    background-color: #f1f1f1;
    padding: 8px 12px;
    margin: 6px;
    border-radius: 8px;
    max-width: 30%;
    color:blue;
  }
  
  #sendButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 4px;
  }
  
  #sendButton:hover {
    background-color: #0056b3;
  }
  
  .material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
  }
  
  